@using PagedList.Mvc
@model PagedList.IPagedList<ShopTrongGo.Models.TinTuc>
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Tin Tức</h1>
    </div>
</div>
@if (Model != null)
{
        <div class="middle" style="padding:0px;">
            <div class="list">
                @foreach (var tinTuc in Model)
                {              
                    <div>
                        <div class="LeftNew">
                            <a href="@tinTuc.Id/@tinTuc.TenKhongDau" style="font-size: 14px;">@tinTuc.TenTin </a><br/>
                            <a href="@tinTuc.Id/@tinTuc.TenKhongDau"><img class="imgTT" src="~/image/cache/data/@tinTuc.AnhDaiDien" /></a>  
                        </div>
                        <div class="RightNew">
                            <br/>
                            <p style=" color: #a9a9a9">Ngày đăng:@tinTuc.NgayCapNhat.ToString("d")</p>
                            <p>@Html.Raw(tinTuc.MieuTaNgan) <a href="@tinTuc.Id/@tinTuc.TenKhongDau" style="font-size: 12px;">Chi tiết</a></p>
                            <p style="text-align: right;">@tinTuc.NguoiDang</p>

                        </div>
                    </div>
                }
                @Html.PagedListPager(Model, page => Url.Action("AllNews", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
}

