@using PagedList.Mvc
@model PagedList.IPagedList<ShopTrongGo.Models.DichVu>
@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Dịch Vụ</h1>
    </div>
</div>
@if (Model != null)
{
    <div class="middle" style="padding: 0px;">
        <div class="list">
            @foreach (var dichVu in Model)
            {
                <div class="DichVu">
                    <div class="LeftNew">
                        <a href="~/News/DetailNews/@dichVu.DichVuID" style="font-size: 14px;">@dichVu.TenDichVu </a><br />
                        <a href="@dichVu.DichVuID/@dichVu.TenKhongDau"></a><img class="imgTT" src="~/image/cache/data/@dichVu.AnhDaiDien" />
                    </div>
                    <div class="RightNew">
                        <br />
                        <p style="color: #a9a9a9;"> Ngày đăng: @dichVu.NgayDang</p>
                        <p>@Html.Raw(dichVu.MieuTaNgan) <a href="~/News/DetailServices/@dichVu.DichVuID" style="font-size: 13px;">...Chi tiết</a></p>
                    </div>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("AllServices", new {page = page}), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
}

