@using ShopTrongGo.Models
@model ShopTrongGo.Models.TinTuc
@{
    ViewBag.Title = "Tin tức chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="top">
        <div class="left"></div>
        <div class="center">
            <h1>@Model.TenTin</h1>
        </div>
    </div>
    <div class="middle" style="padding: 0px;">
        <div class="list">
            <div class="Tin">
                <div class="ChitietTin">@Html.Raw(Model.MieuTaChiTiet)</div>
            </div>
        </div>
    </div>
}
<hr />
@{
    var listTinTuc = ((List<TinTuc>)ViewBag.DanhSachTin);
    if (listTinTuc.ToList().Count != 0)
    {

        @Html.Raw("<p>Các tin khác:</p>")
        foreach (var tinTuc in listTinTuc)
        {
            <div class="middle" style="padding: 0px;">
                <div class="list">
                    <div>
                        <a href="@tinTuc.Id/@tinTuc.TenKhongDau">@tinTuc.TenTin</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @Html.Raw("<p>Không có tin</p>")
    }
}
