@using PagedList.Mvc
@model PagedList.IPagedList<ShopTrongGo.Models.SanPham>
@{
    ViewBag.Title = "Trang chủ - Web bán tạp hóa 24h";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Sản phẩm mới</h1>
    </div>
</div>
<div class="middle" style="padding:0px;">
    <div class="list">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div>
                Tiêu chí:
                <select id="dropdown" title="Sắp xếp" name="dropdown" class="" >
                    <option value="0">--Chọn--</option>
                    <option value="1">Theo thứ tự A - Z </option>
                    <option value="2">Giá tăng dần</option>
                    <option value="3">Giá giảm dần</option>
                </select>
                <input type="submit" value="Sắp xếp"/>
            </div>
        }
            @if (Model != null)
            {
                foreach (var pro in Model)
                {
                    <div class="sanpham">
                        <div class="NewProduct">
                            <a href="@pro.SanPhamID/san-pham-@pro.TenKhongDau"><img width="160" height="160" src="~/image/cache/data/@pro.AnhDaiDien" title="@pro.TenSp" alt="@pro.TenSp" /></a><br />
                            @Html.ActionLink(@pro.TenSp, "Details", "Product", new { id = @pro.SanPhamID, @pro.TenKhongDau }, null) <br />
                        </div>
                        <div class="giasp">Giá bán: @pro.Gia.ToString("N0") <b>VNĐ</b></div>
                        <div class="dathang">
                            @Html.ActionLink("Chi tiết","Details","Product",new{id = @pro.SanPhamID, @pro.TenKhongDau},null)
                            <input id="Button1" type="button" value="  Đặt hàng" class="btnCart" onclick="AddToCart('@pro.SanPhamID');" />
                        </div>
                    </div>
                }
            }
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <script type="text/javascript">
        function SapXep(id) {
            $.post("/trang-chu", { "id": id });
        }
    </script>
</div>