@model ShopTrongGo.Models.TaiKhoan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có thực sự muốn xóa tài khoản này?</h3>
<fieldset>
    <legend>TaiKhoan</legend>
    <div class="display">
        <div class="display-label">Loại tài khoản</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiTaiKhoan.TenLoai)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên người dùng</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenNguoiDung)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Email</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên đăng nhập</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDangNhap)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Mật khẩu</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MatKhau)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Phone</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Địa chỉ</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DiaChi)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ẩn</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ngày ẩn</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="display">
            <input type="submit" value="Xóa" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px" />
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Danh sách tài khoản", "Index")
</p>
