@model ShopTrongGo.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<fieldset>
    <legend>Chi tiết tài khoản</legend>
    <div class="display">
        <div class="display-label">Loại tài khoản</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiTaiKhoan.TenLoai)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên người dùng</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenNguoiDung)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Email
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên đăng nhập</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDangNhap)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Mật khẩu</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MatKhau)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Phone</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Địa chỉ</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DiaChi)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Hiển thị</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ngày ẩn</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.TaiKhoanID }) |
    @Html.ActionLink("Danh sách tài khoản", "Index")
</p>
