@using System.Web.UI.WebControls.Adapters
@model IEnumerable<ShopTrongGo.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách tài khoản</h2>

<p>
    @Html.ActionLink("Thêm tài khoản", "Create")
</p>
<table>
    <tr style="background: #00008b; color: white; height: 30px;">
        <th>Loại tài khoản</th>
        <th>Tên người dùng</th>
        <th>Email</th>
        <th>Tên đăng nhập</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiXoa)
        </td>
        <td style="width: 15%;">
            @Html.ActionLink("Sửa", "Edit", new { id = item.TaiKhoanID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.TaiKhoanID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.TaiKhoanID })
        </td>
    </tr>
}

</table>
