@using Microsoft.Ajax.Utilities
@using PagedList.Mvc;
@model PagedList.IPagedList<ShopTrongGo.Models.SanPham>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Danh sách sản phẩm</h1>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#form0').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action, type: this.method, data: $(this).serialize(), success: function (result) {
                        $('#ajaxUpdate').html(result);
                    }
                });
            }
        });
        return false;
    });
</script>
<div id="ajaxUpdate">
    @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "ajaxUpdate", OnBegin = "BeginClient" }))
    {
        if (Model !=null)
        {
            <div class="middle" style="padding: 0px;">
                <div class="list">
                    @foreach (var pro in Model)
                    {
                        <div class="sanpham">
                            <a href="../Product/Details/@pro.SanPhamID"><img width="160" height="160" src="~/image/cache/data/Quay_bar/thiet ke quay bar tu bep dep 2-150x150.jpg" title="@pro.TenSp" alt="@pro.TenSp" /></a><br />
                            <a href="../Product/Details/@pro.SanPhamID">@pro.TenSp</a> <br />
                            <div class="giasp">Giá bán: @pro.Gia</div>
                            <div class="dathang">
                                <a href="~/Product/Details/@pro.SanPhamID">Chi tiết</a>
                                <a onclick="AddToCart('@pro.SanPhamID');" href="#">Đặt hàng</a>
                            </div>
                        </div>
                    }
                </div>
                <p>
                    @Html.PagedListPager(Model, page => Url.Action("All", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </p>
            </div>
        }
        else
        {
            <div class="middle" style="padding: 0px;">
                <div class="list">
                    @Html.Raw("<p>Không có sản phẩm nào!</p>")
                </div>
            </div>
        }
    }
    </div>
