@using Microsoft.Ajax.Utilities
@using PagedList.Mvc;
@model PagedList.IPagedList<ShopTrongGo.Models.SanPham>
@{
    ViewBag.Title = "Các sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Danh sách sản phẩm</h1>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#form0').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action, type: this.method, data: $(this).serialize(), success: function (result) {
                        $('#ajaxUpdate').html(result);
                    }
                });
            }
        });
        return false;
    });
</script>
<div id="ajaxUpdate">
    @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "ajaxUpdate", OnBegin = "BeginClient" }))
    {
        if (Model != null)
        {
            <div class="middle" style="padding: 0px;">
                <div class="list">
                    @using (Html.BeginForm("All", "Product", FormMethod.Get))
                    {
                        <div>
                            Tiêu chí:
                            <select id="dropdown" title="Sắp xếp" name="dropdown" class="">
                                <option value="0">--Chọn--</option>
                                <option value="1">Theo thứ tự A - Z </option>
                                <option value="2">Giá tăng dần</option>
                                <option value="3">Giá giảm dần</option>
                            </select>
                            <input type="submit" value="Sắp xếp" />
                        </div>
                        <script type="text/javascript">
                            $('#dropdown').val('@Session["AllPro"]');
                        </script>
                    }
                    @foreach (var pro in Model)
                    {
                        <div class="sanpham">
                            <a href="@pro.SanPhamID/san-pham-@pro.TenKhongDau"><img width="160" height="160" src="~/image/cache/data/@pro.AnhDaiDien" title="@pro.TenSp" alt="@pro.TenSp" /></a><br />
                            <a href="@pro.SanPhamID/san-pham-@pro.TenKhongDau">@pro.TenSp</a> <br />
                            <div class="giasp">Giá bán: @pro.Gia.ToString("N0") <b>VNĐ</b></div>
                            <div class="dathang">
                                @Html.ActionLink("Chi tiết", "Details", "Product", new
                                {
                                    id = @pro.SanPhamID,
                                    @pro.TenKhongDau
                                }, null)
                                <input id="Button1" type="button" value="Đặt hàng" class="btnCart" onclick="AddToCart('@pro.SanPhamID');" />
                            </div>
                        </div>
                    }
                </div>
                <p>
                    @Html.PagedListPager(Model, page => Url.Action("All", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </p>
            </div>
        }
        else
        {
            <div class="middle" style="padding: 0px;">
                <div class="list">
                    @Html.Raw("<p>Không có sản phẩm nào!</p>")
                </div>
            </div>
        }
    }
</div>
