@using PagedList
@using ShopTrongGo.Models
@using PagedList.Mvc;
@model ShopTrongGo.Models.SanPham
@{
    ViewBag.Title = @Model.TenSp;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/Detail/flexslider.css" rel="stylesheet" />
<link href="~/Content/Detail/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Detail/font-awesome.min.css" rel="stylesheet" />

<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Chi tiết sản phẩm</h1>
    </div>
</div>

<div class="middle" style="padding:0px;">
    <div class="list">
        <div class="anhSP">
            <img src="~/image/cache/data/@Model.AnhDaiDien" />
            <div class="product_detail">
                <div class="left_detail">
                    <b>TÊN SẢN PHẨM</b> : @Model.TenSp <br />
                    <b>GIÁ</b> : @Model.Gia.ToString("N0") <b>VNĐ</b> <br />
                    <b>TRẠNG THÁI</b> : @Model.TrangThai<br />
                    <b>MODEL</b> :@Model.Model <br />
                    <input id="Button1" type="button" value="Đặt hàng" class="btnCart" onclick="AddToCart('@Model.SanPhamID');" />
                </div>
            </div>

            @*slider san pham*@
            <div class="product_detail">
                <b>CHI TIẾT SẢN PHẨM<br /></b>
                @{
                    var listImage = ((List<DanhMucAnh>)ViewBag.ListImage);
                    if (listImage != null)
                    {
                        <div class="slider">
                            <section class="slider;" style="float: left;">
                                <div class="left_slider">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            @foreach (var image in listImage)
                                            {
                                                <li>
                                                    <img src="~/image/cache/data/@image.TenAnh" style="width: 510px; height: 350px;" />
                                                </li>
                                            }

                                        </ul>

                                    </div>
                                </div>
                            </section>
                            <!-- jQuery -->
                            <script src="~/Scripts/jquery-2.1.1.min.js"></script>
                            <script> window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>') </script>

                            <!-- FlexSlider -->
                            <script src="~/Scripts/jquery.flexslider.js"></script>

                            <script type="text/javascript">
                                $(function () {
                                    //    //SyntaxHighlighter.all();
                                });
                                $(window).load(function () {
                                    $('.flexslider').flexslider({
                                        animation: "slide",
                                        controlNav: false,

                                    });
                                });
                            </script>
                        </div>
                    }
                }
                <div class="thongtinSP" style="margin-top: 20px;">
                    <p>
                        @Model.MieuTaChiTiet
                    </p>
                </div>
            </div>
            <div class="product_detail">
                <b>CÁC SẢN PHẨM KHÁC <br /></b>
                <div class="list">
                    @{
                        var list = (IPagedList<SanPham>)ViewBag.ListProduct;
                        if (list != null)
                        {
                            foreach (var sanPham in list)
                            {
                                <div class="sanphamkhac">
                                    <div class="NewProduct">
                                        <a href="@sanPham.SanPhamID/san-pham-@sanPham.TenKhongDau"><img width="160" height="160" src="~/image/cache/data/@sanPham.AnhDaiDien" title="@sanPham.MieuTaNgan" alt="@sanPham.TenSp" /></a><br />
                                        @Html.ActionLink(@sanPham.TenSp, "Details", "Product", new
                                        {
                                            id = @sanPham.SanPhamID,
                                            @sanPham.TenKhongDau

                                        }, null)
                                        <br />
                                    </div>
                                    <div class="giasp">Giá bán: @sanPham.Gia.ToString("N0") <b>VNĐ</b></div>
                                    <div class="dathang">
                                        @Html.ActionLink("Chi tiết", "Details", "Product", new
                                        {
                                            id = @sanPham.SanPhamID,
                                            @sanPham.TenKhongDau

                                        }, null)
                                        <input id="Button1" type="button" value="Đặt hàng" class="btnCart" onclick="AddToCart('@sanPham.SanPhamID');" />
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                @Html.PagedListPager(list, page => Url.Action("Details", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>

        </div>

    </div>
</div>
