@model ShopTrongGo.Models.DichVu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Bạn chắc chắn muốn xóa bản tin dịch vụ này?</h3>
<fieldset>
    <legend>Dịch vụ</legend>
    <div class="display">
        <div class="display-label">
            Ngày đăng:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayDang)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Người đăng:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NguoiDang)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Trạng thái xóa:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ngày xóa:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tên dịch vụ:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDichVu)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Sơ lược</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MieuTaNgan)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Chi tiết:</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MieuTaChiTiet)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Anh đại điện:</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="display">
            <p>
                <input type="submit" value="Xóa" />
            </p>
        </div>
        
        }
</fieldset>
@Html.ActionLink("Quay lại danh sách", "Index")

