@model ShopTrongGo.Models.HoaDon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HoaDon</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayMua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayMua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaiKhoan.TenNguoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaiKhoan.TenNguoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrangThaiXoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrangThaiXoa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayXoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayXoa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HoaDonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
