@model ShopTrongGo.Models.TinTuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết tin tức</h2>

<fieldset>
    <legend>Tin tức</legend>
    <div class="display">
        <div class=" display-label">Danh mục tin</div>
        <div class="display-field">@Html.DisplayFor(model => model.DanhMucTin.TenDMTin)</div>
    </div>  

    <div class="display">
        <div class=" display-label">Tin bài</div>
        <div class="display-field">@Html.DisplayFor(model => model.TenTin)</div>
    </div>

    <div class="display">
        <div class="display-label">Ẩn bài</div>
        <div class="display-field">@Html.DisplayFor(model => model.TrangThai) @Html.DisplayFor(model => model.NgayXoaTin)</div>
    </div>

    <div class="display">
        <div class="display-label">Ngày cập nhật</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </div>
    </div>

    <div class="display">
        <div class="display-label">Người đăng</div>
        <div class="display-field">@Html.DisplayFor(model => model.NguoiDang)</div>
    </div>

    <div class="display">
        <div class="display-label">Ảnh</div>
        <div class="display-field"><img  src="/image/cache/data/@Html.DisplayFor(model => model.AnhDaiDien)" /></div>
    </div>
    <div class="display">
        <div class="display-label">Tên không dấu</div>
        <div class="display-field">@Html.DisplayFor(model => model.TenKhongDau)</div>
    </div>

    <div class="display">
        <div class="display-label">Miêu tả ngắn</div>
        <div class="display-field">@Html.DisplayFor(model => model.MieuTaNgan)</div>
    </div>

    <div class="display">
        <div class="display-label">Miêu tả chi tiết</div>
    </div>
    <div class="display">@Html.Raw(Model.MieuTaChiTiet)</div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Danh sách sản phẩm", "Index")
</p>
