@model ShopTrongGo.Models.TinTuc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa tin</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tin tức</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor">
            <div class="editor-label">Danh mục tin</div>
            <div class="editor-field">
                @Html.DropDownList("LoaiDMTin", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "drl" })
                @Html.ValidationMessageFor(model => model.LoaiDMTin)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Tiêu đề</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TenTin, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.TenTin)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Miêu tả ngắn</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MieuTaNgan, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.MieuTaNgan)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Miêu tả chi tiết</div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.MieuTaChiTiet, new { @id = "ckeContent" })
                @Html.ValidationMessageFor(model => model.MieuTaChiTiet)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Ẩn bài</div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Người đăng</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.NguoiDang, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.NguoiDang)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Ảnh đại diện</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.AnhDaiDien, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.AnhDaiDien)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label"></div>
            <div class="editor-field">
                <input type="button" id="btnBrowserImage" value="Browser" />
            </div>
        </div>

        <div class="editor">
            <p>
                <input type="submit" value="Save" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" />
            </p>
        </div>
</fieldset>
}

<div>
    @Html.ActionLink("Danh sách sản phẩm", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
