@model IEnumerable<ShopTrongGo.Models.TinTuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách tin tức</h2>

<p>
    @Html.ActionLink("Thêm tin tức", "Create")
</p>
@foreach (var item in Model)
{
    <div class="box">
        <div class="left">
            <img src="/image/cache/data/@Html.DisplayFor(modelItem => item.AnhDaiDien) " />
        </div>
        <div class="right">
            <div class="title">Tiêu đề: @Html.DisplayFor(modelItem => item.TenTin)</div>
            <div class="news">Danh mục: @Html.DisplayFor(modelItem => item.DanhMucTin.TenDMTin)</div>
            <div class="main">
                @Html.DisplayFor(modelItem => item.MieuTaNgan)
            </div>
            <div class="author">
               <div style="float: right"> Tác giả: @Html.DisplayFor(modelItem => item.NguoiDang)</div>
            </div>
            <div class="func">
                <div class="defunc">
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </div>
                <div class="defunc">
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                </div>
                <div class="defunc">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                </div>
            </div>
        </div>
    </div>
}

@*<table>
    <tr style ="background: #00008b; color: white; height: 30px;">
        <th>Danh mục tin</th>
        <th>TIn bài</th>
        <th>Miêu tả ngắn</th>
        <th>Trạng thái</th>
        <th>Ngày cập nhật</th>
        <th>Người đăng bài</th>
        <th>Ảnh đại diện</th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMucTin.TenDMTin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MieuTaNgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDang)
        </td>
        <td><img height="40px" width="60px" src="/image/cache/data/@Html.DisplayFor(modelItem => item.AnhDaiDien) "/>
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
