@model ShopTrongGo.Models.DanhMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>Danh mục</legend>
    <div class="display">
        <div class="display-label">Tên danh mục</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDanhMuc)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên nhà cung cấp</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NhaCungCap1.TenNcc)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ẩn</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa) @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.DanhMucID }) |
    @Html.ActionLink("Danh sách các danh mục", "Index")
</p>
