@model ShopTrongGo.Models.ShoppingCartModels
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function RemoveFromCart(id) {
        if (confirm('Bạn thực sự muốn xóa sản phẩm này khỏi giỏ hàng?')) {
            $.post("/ShoppingCart/RemoveFromCart", { "id": id },
                function (data) {
                    if (data.Code == '0') {
                        alert('Xóa sản phẩm khỏi giỏ hàng thành công');
                        window.location = '/ShoppingCart/Cart';
                    }
                });
        }
        return false;
    }
</script>
<script type="text/javascript">
    function UpdateQuantity(id, quantity) {
        $.post("/ShoppingCart/UpdateQuantity", { "id": id, "quantity": quantity },
            function (data) {
                if (data.Code == '0') {
                    window.location = '/ShoppingCart/Cart';
                }
            });
        return false;
    }
</script>

<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Giỏ hàng của bạn</h1>
    </div>
</div>
<div class="middle" style="padding-bottom: 50px;">
    <div class="list">
        @if (Model != null && Model.Cart != null)
{
    <table width="100%" border="1" bordercolor="#ccc" cellspacing="0" cellpadding="0" class="table-cart" style="align-content: center">
        <tr valign="middle" class="title-cart">
            <td width="40%"><b>Thông tin sản Phẩm</b></td>
            <td width="10%"><b>Hủy</b> </td>
            <td width="25%"><b>Số lượng</b></td>
            <td width="25%"><b>Tổng cộng</b></td>
        </tr>
        @foreach (var item in Model.Cart.ListItem)
        {
            <tr>
                <td>
                    <div class="product_cart">
                        <img src="~/image/cache/data/@item.ProductImage" style="float: left; margin: 0px 0px 10px 10px; max-width: 110px; max-height: 100px; " />
                        <div class="itm-cartDetails">
                            <h3><a style=" text-decoration:none; margin-left: 10px; line-height: 88px; font-weight:normal" href="~/Procduct/Details/@item.ProductId">@item.ProductName</a></h3>
                        </div>
                    </div>
                </td>
                <td align="center"><img src="~/image/icon-del.png" onclick="return RemoveFromCart('@item.ProductId');" /></td>
                <td align="center">
                    <select id="quantity_@item.ProductId" title="Số lượng" name="thanh toan" class="" onchange="return UpdateQuantity('@item.ProductId',this.value);">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <script type="text/javascript">
                        $('#quantity_@item.ProductId').val('@item.Quantity');
                    </script>
                </td>
                <td><b>@item.Total.ToString("N0") VND</b></td>
            </tr>
        }
        <tr>
            <td colspan="3"> <div class="td"><b>TỔNG THÀNH TIỀN</b></div></td>
            <td>
                @if (Model != null && @Model.Cart != null)
                {
                    <strong>@Model.Cart.GetTotal().ToString("N0") VND</strong>
                }
            </td>
        </tr>

        <tr>
            <td colspan="3"><div class="td"><b>THANH TOÁN</b></div></td>
            <td>
                @if (Model != null && @Model.Cart != null)
                {
                    <div class="td"><strong>@Model.Cart.GetTotal().ToString("N0") VND</strong></div>
                }
            </td>
        </tr>
    </table>
}
    </div>
</div>
