@model ShopTrongGo.Models.DanhMucTin

@{
    ViewBag.Title = "Xóa danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa danh mục tin</h2>

<h3>Bạn có thực sự muốn xóa?</h3>
<fieldset>
    <legend>Danh mục tin</legend>

    <div class="display">
        <div class="display-label">
            Tên danh mục:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDMTin)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Mô tả:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MoTa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Trạng thái:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThai)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="display">
            <p><input type="submit" value="Xóa" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" /></p>
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Quay lại trang danh sách", "Index")
</p>
