@model ShopTrongGo.Models.DanhMucTin

@{
    ViewBag.Title = "Xóa danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DanhMucTin</legend>

    <div class="display-label">
         Tên danh mục:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenDMTin)
    </div>

    <div class="display-label">
         Mô tả:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         Trạng thái:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrangThai)
    </div>

    <div class="display-label">
         Tên không dấu:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenKhongDau)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa danh mục này" /> |
        @Html.ActionLink("Quay lại trang danh sách", "Index")
    </p>
}
