@model ShopTrongGo.Models.DanhMucTin

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Danh mục tin</legend>
    <div class="display">
        <div class="display-label">
            Tên danh mục tin:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDMTin)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Mô tả:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MoTa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Trạng thái:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThai)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tên không dấu:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenKhongDau)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Quay lại trang danh sách", "Index")
</p>
