@model ShopTrongGo.Models.DanhMucTin

@{
    ViewBag.Title = "Sửa thông tin danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa thông tin danh mục</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Danh mục tin</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor">
            <div class="editor-label">
                Tên danh mục:
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TenDMTin)
                @Html.ValidationMessageFor(model => model.TenDMTin, "Tên này không được bỏ trống")
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">
                Mô tả:
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MoTa)
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">
                Trạng thái:
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>
        <div class="editor">
            <p><input type="submit" value="Lưu lại" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" /></p>
        </div>
</fieldset>
}

<div>
    @Html.ActionLink("Quay lại trang danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
