@using PagedList.Mvc
@model IEnumerable<ShopTrongGo.Models.DanhMucTin>

@{
    ViewBag.Title = "Trang danh sách danh mục tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách các danh mục tin tức</h2>

<p>
    @Html.ActionLink("Thêm mới danh mục tin", "Create")
</p>
<table>
    <tr style="background: #00008b; color: white; height: 30px;">
        <th>Tên danh mục tin</th>
        <th>Trạng thái</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDMTin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td style="width: 15%;">
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
@Html.PagedListPager(Model, trang => Url.Action("Index", new { trang = trang }), PagedListRenderOptions.OnlyShowFivePagesAtATime)