
@model ShopTrongGo.Models.NhaCungCap
@{
    ViewBag.Title = "Thêm nhà cung cấp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Thêm mới</h2>
    <fieldset>
        <legend>Nhà cung cấp</legend>
        <div class="editor">
            <div class="editor-label">Nhà cung cấp</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TenNcc, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.TenNcc)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Địa chỉ</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Điện thoại</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Phone, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
    <div class="editor">
        <div class="editor-label"></div>
        <div class="editor-field">
            <p>
                <input type="submit" value="Thêm" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" />
            </p>
        </div>
    </div>
</fieldset>
}
