@using PagedList.Mvc
@using ShopTrongGo.Models
@model PagedList.IPagedList<ShopTrongGo.Models.NhaCungCap>

@{
    ViewBag.Title = "DanhSachNhaCungCap";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Danh sách các nhà cung cấp</h2>
<div class="box">
    <div class="left">@Html.ActionLink("Thêm nhà cung cấp mới", "AddProvider")    </div>
</div>
    <table>
        <tr style="background: #00008b; color: white; height: 30px;">
            <td>Tên nhà cung cấp</td>
            <td>Địa chỉ</td>
            <td>Phone</td>
            <td>Danh mục</td>
            <td>Ẩn</td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenNcc)</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThaiXoa) @Html.DisplayFor(modelItem => item.NgayXoa)</td>
                <td style="width: 15%;">@Html.ActionLink("Xóa", "DeleteProvider", new { id = item.NhaCungCapID })</td>
            </tr>
        }
    </table>
@Html.PagedListPager(Model,trang => Url.Action("ListProvider",new{trang = trang}),PagedListRenderOptions.OnlyShowFivePagesAtATime)