@model ShopTrongGo.Models.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có thực sự muốn xóa sản phẩm này?</h3>
<fieldset>
    <legend>Loại sản phẩm</legend>
    <div class="display">
        <div class=" display-label">Mã
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiSpID)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên loại
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenLoaiSp)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ẩn
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa) @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên danh mục
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </div>
    </div>
    <div class="display">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Xóa" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" />
            </p>
        }
    </div>

</fieldset>
@Html.ActionLink("Danh sách các loại sản phẩm", "ListProductCatagories")
