@model ShopTrongGo.Models.LoaiSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>Loại sản phẩm</legend>

    <div class="display">
        <div class=" display-label">
            Mã
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiSpID)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tên loại
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenLoaiSp)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ẩn
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa) @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tên danh mục
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new {  id=Model.LoaiSpID}) |
    @Html.ActionLink("Danh sách các loại sản phẩm", "ListProductCatagories")
</p>
