@model ShopTrongGo.Models.SanPham

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Trang thêm mới sản phẩm</h2>
    <fieldset>
        <legend style="text-align: center;">Thêm sản phẩm</legend>
        <div class="editor">
            <div class="editor-label">Mã sản phẩm</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SanPhamID, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.SanPhamID)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Tên sản phẩm</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TenSp, new { @class = "txt" })
            @Html.ValidationMessageFor(model => model.TenSp)
        </div>
    </div>

        <div class="editor">
            <div class="editor-label">Loại sản phẩm</div>
            <div class="editor-field">
                @Html.DropDownList("LoaiSpID", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "drl" })
                @Html.ValidationMessageFor(model => model.LoaiSpID)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Ảnh đại diện</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.AnhDaiDien, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.AnhDaiDien)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label"></div>
            <div class="editor-field">
                <input type="button" id="btnBrowserImage" value="Browser" />
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Giá</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Gia, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.Gia)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Trạng thái</div>
            <div class="editor-field">
                @Html.DropDownList("TrangThai", ViewData["TrangThai"] as List<SelectListItem>, new { @class = "drl" })
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Model</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Model, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.Model)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Miêu tả ngắn</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MieuTaNgan, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.MieuTaNgan)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Miêu tả chi tiết</div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.MieuTaChiTiet, new { @id = "ckeContent" })
                @Html.ValidationMessageFor(model => model.MieuTaChiTiet)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Số lượng</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SoLuong, new { type = "number", @class = "txt" })
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label"></div>
            <div class="editor-field">
                <p>
                    <input type="submit" value="Thêm" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" />
                </p>
            </div>
        </div>
    </fieldset>
}
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#TenSp').keyup(function () {
                $('#TenKhongDau').val(bodauTiengViet($(this).val()));
            });
        });
        function bodauTiengViet(str) {
            str= str.toLowerCase();
            str= str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
            str= str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");
            str= str.replace(/ì|í|ị|ỉ|ĩ/g,"i");
            str= str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");
            str= str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");
            str= str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");
            str= str.replace(/đ/g,"d");
            return str;
        }
    </script>*@

<div>
    @Html.ActionLink("Back", "ListProduct")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}