@model ShopTrongGo.Models.SanPham

@{
    ViewBag.Title = "AddProduct";
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Add new product</h2>
    <fieldset>
        <legend style="text-align: center;">Thêm sản phẩm</legend>
        <div class="editor">
            <div class="editor-label">Tên sản phẩm</div>
            <div class="editor-field">@Html.TextBoxFor(model => model.TenSp, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.TenSp)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Loại sản phẩm</div>
            <div class="editor-field">@Html.DropDownList("LoaiSpID", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "drl" })
                @Html.ValidationMessageFor(model => model.LoaiSpID)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Ảnh đại diện</div>
            <div class="editor-field">@Html.TextBoxFor(model => model.AnhDaiDien, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.AnhDaiDien)
            </div>
        </div>
        
        <div class="editor">
            <div class="editor-label"></div>
            <div class="editor-field">
                <input type="button" id="btnBrowserImage" value="Browser" />
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Giá</div>
            <div class="editor-field">@Html.TextBoxFor(model => model.Gia, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.Gia)
            </div>
        </div>
        
        <div class="editor">
            <div class="editor-label">Trạng thái</div>
            <div class="editor-field">@Html.TextBoxFor(model => model.TrangThai, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Model</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Model, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.Model)
            </div>
        </div>
        <div class="editor">
            <div class="editor-label">Miêu tả ngắn</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MieuTaNgan, new { @class = "txt" })
                @Html.ValidationMessageFor(model => model.MieuTaNgan)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Miêu tả chi tiết</div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.MieuTaChiTiet, new { @id = "ckeContent" })
                <script language="javascript" type="text/javascript">
                    CKEDITOR.replace("ckeContent");
                </script>
                @Html.ValidationMessageFor(model => model.MieuTaChiTiet)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Trạng thái xóa</div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.TrangThaiXoa)
                @Html.ValidationMessageFor(model => model.TrangThaiXoa)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Ngày xóa</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.NgayXoa, new { type = "date", @class = "txt" })
                @Html.ValidationMessageFor(model => model.NgayXoa)
            </div>
        </div>
        
        <div class="editor">
            <div class="editor-label">Lượt bán</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LuotBan, new { type = "number", @class = "txt" })
                @Html.ValidationMessageFor(model => model.NgayXoa)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Lượt xem</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LuotView, new { type = "number", @class = "txt" })
                @Html.ValidationMessageFor(model => model.NgayXoa)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label">Số lượng</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SoLuong, new { type = "number", @class = "txt" })
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="editor">
            <div class="editor-label"></div>
            <div class="editor-field">
                <p>
                    <input type="submit" value="Create" />
                </p>
            </div>
            </div>
</fieldset>
}
<script language="javascript" type="text/javascript">
    $(function () {
        $("#btnBrowserImage").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#AnhDaiDien").val(fileUrl);
            };
            ckfinder.popup();
        });
    });
</script>
<div>
    @Html.ActionLink("Back", "ListProduct")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}