@model ShopTrongGo.Models.SanPham

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details Product</h2>

<fieldset>
    <legend style="text-align: center;">Thông tin chi tiết sản phẩm</legend>
    <div class="display">
        <div class="display-label">Tên sản phẩm</div>
        <div class="display-field">@Html.DisplayFor(model => model.TenSp)</div>
    </div>
    
    <div class="display">
        <div class="display-label">Tên không dấu</div>
        <div class="display-field">@Html.DisplayFor(model => model.TenKhongDau)</div>
    </div>
    
    <div class="display">
        <div class="display-label">Loại sản phẩm</div>
        <div class="display-field">@Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSp)</div>
    </div>

    
    <div class="display">
        <div class="display-label">Ảnh đại diện</div>
        <div class="display-field">@Html.DisplayFor(model => model.AnhDaiDien)</div>
    </div>
    
    <div class="display">
        <div class="display-label">Giá</div>
        <div class="display-field">@Html.DisplayFor(model => model.Gia)</div>
    </div>
    
    <div class="display">
        <div class="display-label">Trạng thái</div>
        <div class="display-field">@Html.DisplayFor(model => model.TrangThai)</div>
    </div>

    
    <div class="display">
        <div class="display-label">Model</div>
        <div class="display-field">@Html.DisplayFor(model => model.Model)</div>
    </div>
    
    <div class="display">
        <div class="display-label">Miêu tả ngắn</div>
        <div class="display-field">@Html.DisplayFor(model => model.MieuTaNgan)</div>
    </div>

    <div class="display">
        <div class="display-label">Miêu tả chi tiết</div>
        <div class="display-field">@Html.Raw(Model.MieuTaChiTiet)</div>
    </div>
    <div class="display">
        <div class="display-label">Ngày cập nhật</div>
        <div class="display-field">@Html.DisplayFor(model => model.NgayCapNhat,new {type="date"})</div>
    </div>

    <table style="border: 1px solid #00008b;">
        <tr style="background: #00008b; color: white; height: 40px;">
            <th style="border-right: solid 1px white; text-align: center">Trạng thái xóa</th>
            <th style="border-right: solid 1px white; text-align: center">Ngày xóa</th>
            <th style="border-right: solid 1px white; text-align: center">Số lượng còn</th>
            <th style="border-right: solid 1px white; text-align: center">Lượt bán</th>
            <th style="text-align: center">Lượt xem</th>
        </tr>
        <tr>
            <th style="border-right: solid 1px #00008b; text-align: center">@Html.DisplayFor(model => model.TrangThaiXoa)</th>
            <th style="border-right: solid 1px #00008b; text-align: center">@Html.DisplayFor(model => model.NgayXoa)</th>
            <th style="border-right: solid 1px #00008b; text-align: center">@Html.DisplayFor(model => model.SoLuong)</th>
            <th style="border-right: solid 1px #00008b; text-align: center">@Html.DisplayFor(model => model.LuotBan)</th>
            <th style="text-align: center">@Html.DisplayFor(model => model.LuotView)</th>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.SanPhamID }) |
    @Html.ActionLink("Back", "ListProduct")
</p>
