@model ShopTrongGo.Models.DoiTac

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa đối tác</h2>

<h3>Bạn thục sự muốn xóa đối tác này?</h3>
<fieldset>
    <legend>Đối tác</legend>
    <div class="display">
        <div class="display-label">Tên đối tác
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDoiTac)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ngày cập nhật
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Nội dung
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NoiDung)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Sơ lược
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MieuTaNgan)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Người đăng
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NguoiDang)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ẩn đối tác
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa) @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>

    <div class="display">=
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Xóa" style="float: right; height: 40px; width: 80px; background: #ff4500; color: white; border-radius: 5px;" />
            </p>
        }

    </div>
</fieldset>
@Html.ActionLink("Danh sách đối tác", "Index")
