@model ShopTrongGo.Models.DoiTac

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>Đối tác</legend>

    <div class="display">
        <div class="display-label">
            Tên đối tác
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenDoiTac)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ngày cập nhật
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Nội dung
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NoiDung)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Sơ lược
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MieuTaNgan)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Người đăng
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NguoiDang)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ẩn đối tác
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa) @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.DoiTacID }) |
    @Html.ActionLink("Danh sách đối tác", "Index")
</p>
