@model IEnumerable<ShopTrongGo.Models.DoiTac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách đối tác</h2>

<p>
    @Html.ActionLink("Thêm mới đối tác", "Create")
</p>
<table>
    <tr style="background: #00008b; color: white; height: 30px;">
        <th>Tên đối tác</th>
        <th>ngày cập nhật</th>
        <th>Nội dung</th>
        <th>Miêu tả</th>
        <th>Người đăng</th>
        <th>Ẩn</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDoiTac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MieuTaNgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiXoa) @Html.DisplayFor(modelItem => item.NgayXoa)
        </td>
        <td style="width: 15%;">
            @Html.ActionLink("Sửa", "Edit", new { id = item.DoiTacID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.DoiTacID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.DoiTacID })
        </td>
    </tr>
}

</table>
