<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="Th&ugrave;ng gỗ đựng rượu, Nội Thất Ho&agrave;ng Gia, th&ugrave;ng rượu gỗ sồi, Trống rượu, Trống  Ho&agrave;ng Gia,trống gỗ,
trống gỗ ho&agrave;ng gia, Cơ sở sản xuất Trống rượu, bom rượu vang, bom trống đựng rượu vang cao cấp, Thương hiệu Trống Ho&agrave;ng Gia" />
    <base href="#" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/image/data/logo.png" rel="icon" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/default/stylesheet/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/javascript/jquery/thickbox/thickbox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/default/stylesheet/style_home.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/catalog/view/javascript/jquery/tab.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Content/catalog/view/javascript/jquery/thickbox/thickbox-compressed.js"></script>
    <script src="~/Content/catalog/view/theme/default/image/js/js_slide/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/catalog/view/theme/default/image/js/js_slide/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/Content/catalog/view/theme/default/image/js/js_slide/jquery.smoothDivScroll-1.1-min.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
        <link rel="stylesheet" type="text/css" href="~/Content/catalog/view/theme/default/stylesheet/ie6.css" />
        <script type="text/javascript" src="~/Content/catalog/view/javascript/unitpngfix/unitpngfix.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        //<![CDATA[
        $(function () {
            $("div#makeMeScrollable").smoothDivScroll({ autoScroll: "onstart", autoScrollDirection: "backandforth", autoScrollStep: 1, autoScrollInterval: 15, startAtElementId: "startAtMe", visibleHotSpots: "always" });
        });

        //]]>
    </script>
    <link href="https://plus.google.com/108135521719684143548" rel="author" />
    <a href="https://plus.google.com/108135521719684143548" rel="author">
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-41702406-1', 'thunggo.com');
            ga('send', 'pageview');

        </script>
    </a>
    <script>
        $(document).ready(function () {
            $('a.login-window').click(function () {

                //Getting the variable's value from a link
                var loginBox = $(this).attr('href');

                //Fade in the Popup
                $(loginBox).fadeIn(300);

                //Set the center alignment padding + border see css style
                var popMargTop = ($(loginBox).height() + 24) / 2;
                var popMargLeft = ($(loginBox).width() + 24) / 2;

                $(loginBox).css({
                    'margin-top': -popMargTop,
                    'margin-left': -popMargLeft
                });

                // Add the mask to body
                $('body').append('<div id="mask"></div>');
                $('#mask').fadeIn(300);

                return false;
            });

            // When clicking on the button close or the mask layer the popup closed
            $('a.close, #mask').live('click', function () {
                $('#mask , .login-popup').fadeOut(300, function () {
                    $('#mask').remove();
                });
                return false;
            });
        });

    </script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="login">
                <ul>
                    <li>@Html.ActionLink("(Thoát)", "Logout", "Account")</li>
                    <li><a href="#">|</a></li>
                    <li style="line-height: 20px;">Chào @Session["FullName"].ToString()</li>
                    <li><a href="#">|</a></li>
                    <li>
                        <a href="~/tai-khoan/dang-ky">Đăng ký</a>
                    </li>
                    <li><a href="#">|</a></li>
                    <li><a href="#login-box" class="login-window">Đăng nhập</a></li>
                    <li><a href="#">|</a></li>
                    <li>
                        <i class="fa fa-shopping-cart" style="margin-right: 5px; font-size: 18px;"></i>
                        @Html.ActionLink("Giỏ hàng", "Cart", "ShoppingCart", null, null)
                    </li>
                    
                    
                </ul>
            </div>

            <div id="login-box" class="login-popup">
                <a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <fieldset class="textbox">
                        <label class="username">
                            <span>Tài khoản hoặc email</span>
                            <input id="txtUserName" name="txtUserName" value="" type="text" autocomplete="on" placeholder="Tài khoản">
                        </label>
                        <label class="password">
                            <span>Mật khẩu</span>
                            <input id="txtPass" name="txtPass" value="" type="password" placeholder="Mật khẩu">
                        </label>
                        <button class="submit button" type="submit">Đăng nhập</button>
                        <p>
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPass", "Account", null, new { @class = "forgot" })
                        </p>
                    </fieldset>
                }
            </div>


            <div class="div2">
                <div class="center">
                    <div style="float:left;width:1%;"><a href="~/"><img alt="" height="120" src="~/image/data/logo.png" /> </a></div>
                    <div style="float: left; width: 76%;">
                        <p style="text-align: center;">
                            <span style="font-size:16px;"><strong>C&Ocirc;NG TY CỔ PHẦN HO&Agrave;NG GIA GROUP</strong></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#f00;"><span style="font-size: 14px;"><strong>C&Ocirc;NG TY TƯ VẤN V&Agrave; THIẾT KẾ THI C&Ocirc;NG NỘI THẤT&nbsp;HO&Agrave;NG GIA</strong></span></span>
                        </p>
                        <p style="text-align: center;">
                            <span style="color:#0000cd;"><span style="font-size:14px;"><strong>Văn ph&ograve;ng H&agrave; Nội : P801 - T&ograve;a nh&agrave; CTM &nbsp;- 299 Cầu Giấy - H&agrave; Nội &nbsp;</strong></span></span>
                        </p>
                        <p style="text-align: center;">
                            <strong>Tel : &nbsp;&nbsp;<span style="color:#f00;"><span style=" font-family: Roboto, sans-serif; font-size: 14px; line-height: 19.6000003814697px; text-align: left; ">0466874066 - 0974849193 - 0963844445&nbsp;</span></span><span style="color: rgb(255, 0, 0);">&nbsp;</span></strong>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size:14px;"><b>&nbsp;<span style="color:#f00;">Hotline :&nbsp;</span></b></span><strong><span style="color: rgb(255, 0, 0);"><span style="font-family: Roboto, sans-serif; font-size: 14px; line-height: 19.6000003814697px; text-align: left;">&nbsp;0963844445&nbsp;</span></span></strong>
                        </p>
                        <h1 style="position: absolute; top: -800px; overflow: auto;">
                            <strong><a href="http://kenh11.com/tag/tin-hot-2" title="tin hot">tin hot</a>, </strong>
                        </h1>
                        <h1 style="position: absolute; top: -800px; overflow: auto;">
                            <strong><a href="http://donghohoanganh.com/dong-ho-adriatica-thuy-sy-1.html" title="dong ho thuy sy">dong ho thuy sy</a>, <a href="http://donghohoanganh.com/dong-ho-deo-tay-co-1.html" title="dong ho deo tay">dong ho deo tay</a>, <a href="http://donghohoanganh.com/dong-ho-titan-chinh-hang-1-1.html" title="dong ho titan">dong ho titan</a>, <a href="http://tranhhoangdong.com/" title="tranh son dau">tranh son dau</a>, <a href="http://sanphamrem.com" title="rèm cửa">r&egrave;m cửa</a>, <a href="http://sanphamrem.com/rem-van-phong-sp.aspx" title="rèm văn phòng">r&egrave;m văn ph&ograve;ng</a>, <a href="http://cuoihoithanhdat.com/" title="cưới hỏi trọn gói hà nội">cưới hỏi trọn g&oacute;i h&agrave; nội</a>, <a href="http://namtruong.vn" title="thang máy tải hàng">thang m&aacute;y tải h&agrave;ng</a>, <a href="http://woodsviet.com/mau-tu-thiet-ke/ke-tivi" title="ke tivi">ke tivi</a>, <a href="http://cuacuonre.vn/" title="cua cuon">cua cuon</a>, <a href="http://www.nhakhoarangxinh.com/tay-trang-men-rang-l6.html" title="men răng">men răng</a>, <a href="http://www.nhakhoarangxinh.com/lam-rang-su-tham-my-l34.html" title="làm đẹp răng">l&agrave;m đẹp răng</a>,<a href="http://chongthamdot.info/" title="chong tham dot">chong tham dot</a>, <a href="http://xemayhoauyen.com" title="mua xe may cu">mua xe may cu</a>, <a href="http://olivoila.com.vn" title="dầu ô-liu">dầu &ocirc;-liu</a>, <a href="http://donghohoanganh.com " title="đồng hồ nam">đồng hồ nam</a>, <a href="http://sanphaminox.vn/danh-sach-san-pham/138/san-pham-inox.html">san pham inox</a>, <a href="http://sanphaminox.vn/danh-sach-san-pham/149/bep-nuong-bbq.html" title="bep nuong bbq">bep nuong bbq</a>, <a href="http://www.nhakhoarangxinh.com/nan-chinh-rang-l43.html" title="nắn chỉnh răng">nắn chỉnh răng</a>, <a href="http://www.nhakhoarangxinh.com/rang-implant-c9.html" title="răng implant">răng implant</a>, </strong>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="div1">
                @{
                    Html.RenderAction("MenuBanner", "MenuPartial");
                    Html.RenderAction("MenuSearch", "MenuPartial");
                }
            </div>
            @*<div style="clear: both;"></div>*@
        </div>
        <div id="slideshow">
            <div id='makeMeScrollable'>
                @*<div class='scrollingHotSpotLeft'></div>
                    <div class='scrollingHotSpotRight'></div>*@
                <div class='scrollWrapper'>
                    <div class='scrollableArea'>
                        <a href="#" title="Trống rượu xe ngựa"><img alt='' style="padding-right:5px;" height='300' width="369.230769231" src='~/image/cache/data/tu-ruou/tu-ruou-dep-05-300x300.jpg' /></a>
                        <a href="#" title="Th&ugrave;ng rượu"><img alt='' style="padding-right:5px;" height='300' width="199.5" src='~/image/cache/data/tu-ruou-dep/quay-bar-nha-hang-01-300x300.jpg' /></a>
                        <a href="#" title="Trống đựng rượu"><img alt='' style="padding-right:5px;" height='300' width="344.680851064" src='~/image/cache/data/tu-ruou-dep/quay-bar-nha-hang-300x300.jpg' /></a>
                        <a href="#" title="Trống chứa rượu"><img alt='' style="padding-right:5px;" height='300' width="526.573426573" src='~/image/cache/data/xengua/ngua-don-keo-thung-ruou-m1-300x300.png' /></a>
                        <a href="#" title="Bom rượu xe ngựa k&eacute;o"><img alt='' style="padding-right:5px;" height='300' width="300" src='~/image/cache/data/thung-ruou-trang-tri/stave-and-hoop-table-wine-rack-300x300.jpg' /></a>
                        <a href="#" title="Trống rượu xe ngựa"><img alt='' style="padding-right:5px;" height='300' width="257.6" src='~/image/cache/data/tu-ruou/ban-thung-ruou-vang-t616-300x300.jpg' /></a>
                        <a href="#" title="Trống gỗ bom ch&acirc;n"><img alt='' style="padding-right:5px;" height='300' width="532.258064516" src='~/image/cache/data/thung-ruou-trang-tri/hamruou-300x300.jpg' /></a>
                        <a href="#" title="Bar cafe"><img alt='' style="padding-right:5px;" height='300' width="532.258064516" src='~/image/cache/data/thung-ruou-trang-tri/hamruou-300x300.jpg' /></a>
                    </div>
                </div>
            </div>
        </div>
        @*<div style="clear: both;"></div>*@
        <div id="column_left">
            @{
                Html.RenderAction("MenuTrongRuou", "MenuPartial");
                Html.RenderAction("MenuService", "MenuPartial");
            }

        </div>
        <div id="column_right">
            @{
                Html.RenderAction("MenuRight", "MenuPartial");
                Html.RenderAction("ProductFeatured", "MenuPartial");
            }
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            @{ Html.RenderAction("MenuFooter", "MenuPartial"); }
        </div>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34188607-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script type="text/javascript">
            function AddToCart(id) {
                $.post("/them-san-pham", { "id": id },
                function (data) {
                    if (data.Code == '0') {
                        alert('Thêm sản phẩm vào giỏ hàng thành công');
                    }
                });
                return false;
            }
        </script>
    </div>
</body>
</html>
