<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />*@
    <!--/head-->
</head>
<body>
    <!--header-->
    <header>
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li>@Html.ActionLink(Session["LogedFullName"].ToString(), "InformationAccount", "AdProduct")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "AdProduct")</li>
                                <li>@Html.ActionLink("Thông tin tài khoản", "InformationAccount", "AdProduct")</li>
                                <li>@Html.ActionLink("Đăng xuất", "Logout", "AdminLogin")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="left-sidebar">
                            <h2>Quản lý</h2>
                            <div class="panel-group category-products" id="accordian">
                                <!--category-productsr-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                                <span class="badge pull-right"></span>
                                                Quản lý sản phẩm
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="sportswear" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Thêm sản phẩm", "AddProduct", "AdProduct")</li>
                                                <li>@Html.ActionLink("Danh sách sản phẩm", "ListProduct", "AdProduct")</li>
                                                <li>@Html.ActionLink("Loại sản phẩm", "ListProductCatagories", "AdProductCatagories")</li>
                                                <li>@Html.ActionLink("Nhà cung cấp", "ListProvider", "AdProvider")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                                <span class="badge pull-right"></span>
                                                Quản lý khách hàng
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="mens" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Thêm khách hàng mới", "Create", "AdAccount")</li>
                                                <li>@Html.ActionLink("Danh sách khách hàng", "Index", "AdAccount")</li>
                                                <li>@Html.ActionLink("Loại tài khoản", "Index", "AdTypeOfAcc")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#mens2">
                                                <span class="badge pull-right"></span>
                                                Quản lý chung
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="mens2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Quản lý danh mục tin", "Index", "AdCategoryNews")</li>
                                                <li>@Html.ActionLink("Quản lý tin tức", "Index", "AdNews")</li>
                                                <li>@Html.ActionLink("Danh sách dịch vụ", "Index", "AdServices")</li>
                                                <li>@Html.ActionLink("Danh sách đối tác", "Index", "AdPartners")</li>
                                                <li>@Html.ActionLink("Thông tin công ty", "Index", "AdInforCompany")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#conf">
                                                <span class="badge pull-right"></span>
                                                Quản lý cấu hình
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="conf" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Banner</a></li>
                                                <li><a href="#">Image</a></li>
                                                <li><a href="#">System</a></li>
                                                <li><a href="#">Restore</a></li>
                                                <li><a href="#">Back up</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/category-products-->
                        </div>
                    </div>
                    <div class="col-sm-9 padding-right">
                        @RenderBody()
                        @Scripts.Render("~/bundles/jquery")
                        @RenderSection("scripts", required: false)
                    </div>
                </div>
            </div>


        </section>
        <footer></footer>
        <script src="~/Content/ckeditor/ckeditor.js"></script>
        <script src="~/Content/ckfinder/ckfinder.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/js/bootstrap.min.js"></script>
        <script src="~/Scripts/js/contact.js"></script>
        <script src="~/Scripts/js/gmaps.js"></script>
        <script src="~/Scripts/js/html5shiv.js"></script>
        <script src="~/Scripts/js/jquery.js"></script>
        <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
        <script src="~/Scripts/js/jquery.scrollUp.min.js"></script>
        <script src="~/Scripts/js/main.js"></script>
        <script src="~/Scripts/js/price-range.js"></script>
        <script language="javascript" type="text/javascript">
    $(function () {
        $("#btnBrowserImage").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#AnhDaiDien").val(fileUrl);
            };
            ckfinder.popup();
        });
    });
        </script>
        <script language="javascript" type="text/javascript">
            CKEDITOR.replace("ckeContent");
        </script>
        @*<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>*@
    </header>
</body>
</html>
