@model ShopTrongGo.Models.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LoaiSanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiSpID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiSpID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenLoaiSp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenLoaiSp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrangThaiXoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrangThaiXoa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayXoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayXoa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenKhongDau)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenKhongDau)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
