@model ShopTrongGo.Models.ChiTietHoaDon

@{
    ViewBag.Title = "Xóa đặt hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa đặt hàng</h2>

<h3>Bạn thực sự muốn xóa đơn đặt hàng này</h3>
<fieldset>
    <legend>Chi tiết hóa đơn</legend>

    <div class="display">
        <div class="display-label">Mã đặt hàng</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HoaDon.HoaDonID)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên sản phẩm</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SanPham.TenSp)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Số lượng mua</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SoLuongMua)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Giá tiền
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gia)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ẩn</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThaiXoa) @Html.DisplayFor(model => model.NgayXoa)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Ngày mua</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HoaDon.NgayMua)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Người mua</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HoaDon.TaiKhoan.TenNguoiDung)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
