@model IEnumerable<ShopTrongGo.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Danh sách đặt hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách đặt hàng</h2>
<table>
    <tr style="background: #00008b; color: white; height: 30px;">
        <th>Tên sản phẩm</th>
        <th>Mã đặt hàng</th>
        <th>Số lượng mua</th>
        <th>Giá cả</th>
        <th>
            Ẩn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.HoaDonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiXoa)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new {  id=item.HoaDonID}) 
            @Html.ActionLink("Xóa", "Delete", new { id = item.HoaDonID })
            
        </td>
    </tr>
}

</table>
