@model ShopTrongGo.Models.ThongTinCongTy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>Thông tin công ty</legend>
    <div class="display">
        <div class="display-label">Mã công ty
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CongTyID)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Tên công ty
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenCongTy)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Địa chỉ
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DiaChi)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Phone
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Email
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new {id=Model.CongTyID}) |
    @Html.ActionLink("Danh sách công ty", "Index")
</p>
