@using PagedList.Mvc
@model PagedList.IPagedList<ShopTrongGo.Models.ThongTinCongTy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách công ty</h2>

<p>
    @Html.ActionLink("Thêm công ty mới", "Create")
</p>
<table>
    <tr style="background: #00008b; color: white; height: 30px;">
        <th>Mã công ty</th>
        <th>Tên công ty</th>
        <th>Địa chỉ</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CongTyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenCongTy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td style="width: 15%;">
            @Html.ActionLink("Sửa", "Edit", new { id = item.CongTyID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.CongTyID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.CongTyID })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model,trang => Url.Action("Index",new{trang = trang}),PagedListRenderOptions.OnlyShowFivePagesAtATime)